/* Estilos globales */
body, html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  flex: 0 0 auto; /* Mantiene el header arriba */
}

.content-container {
  flex: 1 0 auto; /* El contenido toma todo el espacio restante */
  display: flex;
}

main {
  flex: 1;
  padding: 20px;
}

/* Estilos para el aside */
.img-container {
  width: 30%; /* Ajusta el porcentaje según lo que necesites */
  background-color: lightgray; /* Solo un fondo para visualizar el espacio */
}

/* Estilos para el footer */
#footer-placeholder {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  flex: 0 0 auto; /* Mantiene el footer abajo */
  width: 100%;
}

/* Estilos existentes */
#header-placeholder {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}

.header-title {
  margin: 0;
  font-size: 24px;
}

.navbar {
  padding: 0;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
}

.navbar ul li {
  display: inline;
  margin: 0 15px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
}

.navbar ul li a:hover {
  text-decoration: underline;
}

.footer-text {
  margin: 0;
}

.footer-link {
  color: #ff6347; /* Un color rojo tomate */
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}